<div class="bg"></div>
<div class="footer"></div>
<div class="logo"><img src="/img/logo.png" /></div>
<div class="con">
	<form>
		<div class="tab">
			<div class="line"></div>
			<a class="evl">企业方</a>
			<a>监管方</a>
			<div class="clear"></div>
		</div>
		<input class="name" placeholder="登录名" />
		<input class="word" type="password" placeholder="输入密码" />
		<a class="login">登录</a>
	</form>
</div>